@import play.api.mvc.Security.AuthenticatedRequest

@(form: Form[controllers.Apps.AppForm])(implicit request: AuthenticatedRequest[_, User], messages: Messages)

@input(field:Field)(inputCreator: Field => Html)(help: Html = Html("")) = {
    <div class="form-group @{"has-error".when(field.hasErrors)}">
        <label for="@field.id" class="col-sm-3 control-label">@Messages("app."+field.name)</label>
        <div class="col-sm-9">
            @inputCreator(field)
            @Option(field.errors.map(e => Messages(e.message, e.args:_*)).mkString(", ")).map(s => {
                Html(s"""<span class="help-block">$s</span>""")
            })
            @help
        </div>
    </div>
}

@text(field:Field)(help: Html = Html("")) = {
    @input(field) { field =>
        <input type="text" class="form-control" name="@field.name" id="@field.id" value="@field.value" placeholder="@Messages("app."+field.name+".placeholder")">
    }(help)
}

@textarea(field:Field)(help: Html = Html("")) = {
    @input(field) { field =>
        <textarea class="form-control" name="@field.name" id="@field.id" rows="4" placeholder="@Messages("app."+field.name+".placeholder")">@field.value</textarea>
    }(help)
}

<div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            @defining(form("isWebApp")) { field =>
                <label class="checkbox-inline" for="@field.id">
                    <input type="checkbox" id="@field.id" name="@field.name" value="true" @{"checked".when(field.value.contains("true"))}> @Messages("app."+field.name)
                </label>
            }
            @defining(form("isNativeApp")) { field =>
                <label class="checkbox-inline" for="@field.id">
                    <input type="checkbox" id="@field.id" name="@field.name" value="true" @{"checked".when(field.value.contains("true"))}> @Messages("app."+field.name)
                </label>
            }
        </div>
    </div>
    @text(form("name"))()
    @textarea(form("description"))()
    @text(form("uri"))()
    @text(form("iconUri"))()
    @text(form("redirectUris")) {
        <span class="help-block">@Messages("app.redirectUris.help")</span>
    }
</div>
