@import play.api.mvc.Security.AuthenticatedRequest

@(form: Form[controllers.Apps.AppForm])(implicit request: AuthenticatedRequest[_, User], messages: Messages)

@s = {
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/apps.css")" rel="stylesheet">
}

@c = {

    @part.navbar("apps", request.user)

    <div class="container">
        <h3>@Messages("app.create.title")</h3>
        <div class="panel panel-default">
            <div class="panel-body">
            @helper.form(action = routes.Apps.doCreate(), 'class -> "form-horizontal") {

                @if(form.hasErrors) {
                    <div class="alert alert-danger">
                        <strong>@Messages("create-app.form.has-error", form.errors.length)</strong> @form.globalError.map(e => Messages(e.message, e.args))
                    </div>
                }

                @appForm(form)

                <a class="btn btn-lg btn-default btn-block" href="@routes.Apps.list.url">@Messages("app.create.cancel")</a>
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("app.create.submit")</button>
            }
            </div>
        </div>
    </div>
}

@main(Messages("app.create.title"))(c, s)
