@import play.api.mvc.Security.AuthenticatedRequest

@(app: App, form: Form[controllers.Apps.AppForm])(implicit request: AuthenticatedRequest[_, User], messages: Messages)

@s = {
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/apps.css")" rel="stylesheet">
}

@c = {

    @part.navbar("apps", request.user)

    <div class="container">
        <a class="btn btn-sm btn-danger pull-right app-delete" href="@routes.Apps.delete(app.id).url">@Messages("app.delete.link")</a>
        <h3>@Messages("app.edit.title", app.name)</h3>
        <div class="panel panel-default">
            <div class="panel-body">
            @helper.form(action = routes.Apps.doEdit(app.id), 'class -> "form-horizontal") {

                @if(form.hasErrors) {
                    <div class="alert alert-danger">
                        <strong>@Messages("create-app.form.has-error", form.errors.length)</strong> @form.globalError.map(e => Messages(e.message, e.args))
                    </div>
                }

                @appForm(form)

                <a class="btn btn-lg btn-default btn-block" href="@routes.Apps.app(app.id).url">@Messages("app.edit.cancel")</a>
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("app.edit.submit")</button>
            }
            </div>
        </div>
    </div>
}

@main(Messages("app.edit.title", app.name))(c, s)
