@import play.api.mvc.Security.AuthenticatedRequest
@import java.time.format.DateTimeFormatter
@import java.time.format.FormatStyle.MEDIUM

@(apps: List[models.App])(implicit request: AuthenticatedRequest[_, User], messages: Messages)

@s = {
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/apps.css")" rel="stylesheet">
}

@c = {
    @part.navbar("apps", request.user)
    <div class="container">
        @if(apps.isEmpty) {
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <p>@Messages("apps.empty.list")</p>
                    <a href="@routes.Apps.create.url" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @Messages("apps.create.first")</a>
                </div>
            </div>
        } else {
            <div class="page-header">
                <a href="@routes.Apps.create.url" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> @Messages("apps.create")</a>
                <h1>@Messages("apps.link")</h1>
            </div>
            <div class="list-group">
                @apps.map { app =>
                    <a href="@routes.Apps.app(app.id)" class="list-group-item">
                        <div class="app-title">
                            <img src="@app.icon" alt="@app.name" class="app-uri pull-left"/><h4 class="list-group-item-heading">@app.name</h4>
                            <div class="text-muted">@app.uri • @DateTimeFormatter.ofLocalizedDateTime(MEDIUM).withLocale(messages.lang.toLocale).format(app.createdAt)</div>
                        </div>
                        <p class="list-group-item-text hidden-xs">@app.description</p>
                    </a>
                }
            </div>
        }
    </div>
}

@main(Messages("apps.list.title"))(c, s)
