@(title: String)(content: Html, styles: Html = Html(""), scripts: Html = Html(""))(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <title>@title</title>

        <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">

        @styles

        <!--[if lt IE 9]>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <script src="@routes.Assets.at("javascripts/html5shiv.js")"></script>
        <script src="@routes.Assets.at("javascripts/respond.min.js")"></script>
        <![endif]-->
    </head>

    <body>

        @request.flash.get("success").map { message =>
            <div class="container">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @message
                </div>
            </div>

        }

        @content

        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        @scripts
    </body>
</html>