@import helper._

@(back: Option[String], form: Form[Signin])(implicit request: RequestHeader, messages: Messages)

@s = {
    <link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">
}

@c = {
    <div class="container">
    @helper.form(action = routes.Application.doSignIn(back), 'class -> "form-signin") {
        <h2 class="form-signin-heading">@Messages("signin.heading")</h2>
        <p>@Messages("signin.not.member") <a href="@routes.Application.signUp(back).url">@Messages("signin.not.member.signup.link")</a></p>

        @if(form.hasErrors) {
            <div class="alert alert-danger">
                <strong>@Messages("signin.form.has-error", form.errors.length)</strong> @form.globalError.map(e => Messages(e.message, e.args))
            </div>
        }

        @request.flash.get("error").map(error => {
            <div class="alert alert-danger">
                @Messages(error) as
            </div>
        })

        <div>
            @defining(form("nameOrEmail")){ field =>
                <div class="@{"has-error".when(field.hasErrors)}">
                    <input type="text" class="form-control" name="@field.name" id="@field.id" value="@field.value" placeholder="@Messages(field.name+".placeholder")" autocomplete="off" autofocus>
                </div>
            }

            @defining(form("password")){ field =>
                <div class="@{"has-error".when(field.hasErrors)}">
                    <input type="password" class="form-control" name="@field.name" id="@field.id" value="@field.value" placeholder="@Messages(field.name+".placeholder")" autocomplete="off">
                </div>
            }
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("signin.submit")</button>
    }
    </div>
}

@main(Messages("page.title.signin"))(c, s)
